<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Civility-Enforcement-Engine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Real-Time CivilityEngine</h1>
        <div class="input-group">
            <input type="text" id="text-input" class="input-area" placeholder="Your Post Goes Here">
            <div id="text-display" class="text-display"></div>
        </div>
        <input type="file" id="fileInput" class="file-input" accept=".txt">
        <div id="sliders" class="sliders"></div>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>